body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #005461;
}

img{
    max-width: 120px;
    max-height: 150px;
    border: 5px solid #249E94;
    border-radius: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.header_HomePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


    .header_Page_Cell {
        display: flex;
        justify-content: center;
        border: 5px solid #249E94;
        background-color: #a1a1a1;
        border-radius: 8px;
        font-size: 32px;
    }

    .header_Account_Cell {
        display: flex;
        padding: 25px;
        border: 5px solid #249E94;
        background-color: #8b8b8b88;
    }

    .header_Account_Picture {
        border: 5px solid #363636;
        background-color: #a8a8a8;
        border-radius: 8px;
        padding-left: 30px;
        padding-right: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header_Account_Name {
        border: 5px solid #363636;
        background-color: #a8a8a8;
        border-radius: 8px;
        padding-left: 30px;
        padding-right: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.nav_Test {
    display: flex;
    justify-content: space-between;
    background-color: #0C7779;
    border: 5px solid #454545;
    padding: 10px;
}