body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.header_HomePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0px;
}

    .header_Logo_Cell {
        display: flex;
        border: 5px solid #696969;
    }

    .header_Logo_Picture {
        padding: 50px;
        border: 5px solid #363636
    }

    .header_Logo_Name {
        text-wrap: 40px;
        padding: 10px;
        border: 5px solid #363636
    }

    .header_Page_Cell {
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        border: 5px solid #585858;
        background-color: #a1a1a1;
        border-radius: 8px;
        font-size: 32px;
    }

    .header_Account_Cell {
        display: flex;
        padding: 25px;
        border: 5px solid #4a4a4a;
        background-color: #8b8b8b88;
    }

    .header_Account_Picture {
        border: 5px solid #363636;
        background-color: #a8a8a8;
        border-radius: 8px;
        padding-left: 30px;
        padding-right: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header_Account_Name {
        border: 5px solid #363636;
        background-color: #a8a8a8;
        border-radius: 8px;
        padding-left: 30px;
        padding-right: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

.nav_Test {
    display: flex;
    justify-content: space-between;
    background-color: #8d8d8d;
    border: 5px solid #454545;
    padding: 10px;
}