html, body {
  height: 100%;
  margin: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #005461;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 80px;
  max-height: 80px;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.cell {
  display: flex;
  border: 5px solid #249E94;
  background-color: #249E94;
  border-radius: 8px;
  padding: 10px 20px;
}

.nav_Test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C7779;
  border-bottom: 5px solid #249E94;
  padding: 0 10px 0 10px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: block;
  padding: 10px 0;
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  padding-top: 5px;
  min-width: 100%;
}

.dropdown-menu a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  background-color: #249E94;
}

.dropdown-menu a:hover {
  background-color: #1a7a72;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*   Apotheken   */ 
table {
  padding: 25px;
  padding-top: 5px;
}
th {
  border: 5px solid #249E94;
  border-radius: 5px;
}
td {
  border-bottom: 3px solid #1a7a72;
}
.PharmacyFilter {
  display: flex;
  justify-content: left;
}

/* Bestelling Distributie */

.OrderFilter{
  display: flex;
  justify-content: left;
}
.Orders th:first-child,
.Orders td:first-child{
  width: 155px;
  max-width: 155px;
}
form {
  margin: 20px 20px 0px 27px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*   Track & Trace   */
.DeliveryNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 50px auto 0px auto;
  border: 5px solid #249E94;
  background-color: #0C7779;
  padding: 0px 50px;
}

.ProgressContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 40px auto;
}

.ProgressLine {
  position: absolute;
  top: 17px; /* aligns with circle centers */
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  z-index: 0;
}

.ProgressStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.Circle {
  width: 30px;
  height: 30px;
  background: white;
  border: 5px solid #ccc;
  border-radius: 100%;
}

.ProgressStep.Completed .Circle {
  background: #60df64;       /* filled color */
  border-color: #1ac420;
}

.ProgressStep p {
  margin-top: 8px;
  text-align: center;
  max-width: 100px;
}

.Delivery_Information_Container {
  display: flex;
  justify-content: center;
  background-color: #0C7779;
  margin: 0px auto;
  border: 5px solid;
  border-color: #249E94;
  border-radius: 10px;
}

.Delivery_Information  {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #249E94;
  padding: 10px 50px;
}


