    html, body {
      height: 100%;
      margin: 0;
      color: white;
    }

    body {
      display: flex;
      flex-direction: column;
      background-color: #005461;
      font-family: "Raleway", sans-serif;
    }

    img {
      max-width: 80px;
      max-height: 80px;
      justify-content: center;
      align-items: center;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .cell {
      display: flex;
      border: 5px solid #249E94;
      background-color: #249E94;
      border-radius: 8px;
      padding: 10px 20px;
    }

    .nav_Test {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0C7779;
      border-bottom: 5px solid #249E94;
      padding: 0 10px 0 10px;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-toggle {
      display: block;
      padding: 10px 0;
    }

    .dropdown-menu {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      padding-top: 5px;
      min-width: 100%;
    }

    .dropdown-menu a {
      display: block;
      text-align: center;
      padding: 10px 15px;
      background-color: #249E94;
    }

    .dropdown-menu a:hover {
      background-color: #1a7a72;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }