html,
body {
  height: 100%;
  margin: 0;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #005461;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 80px;
  max-height: 80px;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.cell {
  display: flex;
  border: 5px solid #249E94;
  background-color: #249E94;
  border-radius: 8px;
  padding: 10px 20px;
}

.nav_Test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C7779;
  border-bottom: 5px solid #249E94;
  padding: 0 10px 0 10px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: block;
  padding: 10px 0;
}

.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  padding-top: 5px;
  min-width: 100%;
}

.dropdown-menu a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  background-color: #249E94;
}

.dropdown-menu a:hover {
  background-color: #1a7a72;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*   Alle tabellen   (Bestelling info, Apotheken, Klant info*/
table {
  padding: 25px;
  padding-top: 5px;
}

th {
  border: 5px solid #249E94;
  border-radius: 5px;
}

td {
  border-bottom: 3px solid #1a7a72;
}

/* Bestelling Informatie */

.OrderFilter {
  display: flex;
  justify-content: left;
}

.Orders th:first-child,
.Orders td:first-child {
  width: 155px;
  max-width: 155px;
}

form {
  margin: 20px 20px 0px 27px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Header_Table {
  display: flex;
  justify-content: space-between;
}

.Header_Table .aanmaak {
  margin: 20px 25px 0 0;
  height: 50%;
  background-color: #249E94;
  font-size: 30px;
  font-weight: normal;
  border-radius: 10px;
  width: 5%;
  height: 60%;
  transition-duration: 0.5s;
  color: white;
  text-align: center;
}

.aanmaak:hover {
  cursor: pointer;
  color: black;
}

/* Bestelling Aanmaken */

.page {
  max-width: 1100px;
  margin: auto;
}

.page h1 {
  margin-bottom: 20px;
}

.card {
  background: #0C7779;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.page h2 {
  margin-top: 0;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}
.row.adres{
  justify-content: space-between;
}

.spoed {
  justify-content: flex-end;
}

.product-search {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.ok {
  color: white;
}

.low {
  color: orange;
}

.summary-line,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.summary-total {
  font-size: 1.2em;
  font-weight: bold;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.page button{
  background-color: #249E94;
  color: white;
  font-size: 15px;
  border: hidden;
  border-radius: 20px;
  padding: 8px;
}
.page button:hover{
  cursor: pointer;
}
.page button:active{
  background-color: #005461;
}
.row.adres input{
  width: 100%;
  margin-top: 5px;
}


/* Robots */

.robot-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.robot-card {
  background: #0C7779;
  margin: 15px 15px 15px 15px;
  border-radius: 8px;
  width: 20%;
  height: 50%;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.robot-card h2 {
  margin: 0;
}

.gang {
  color: darkgray;
  margin-bottom: 10px;
  margin-top: 0px;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.status.bezig {
  background: #fff3cd;
  color: #856404;
}

.status.idle {
  background: #e2e3e5;
  color: #383d41;
}

.task p {
  margin: 4px 0;
}

@media (max-width: 1000px) {
  .robot-grid {
    font-size: 38px;
  }

  .robot-card {
    width: 40%;
    height: fit-content;
  }
}

/* Factuur */

select {
  height: 22px;
}

/*   Track & Trace   */

/*DeliveryNumber wordt ook door producten in bestelling gebruikt*/
.DeliveryNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 50px auto 20px auto;
  border: 5px solid #249E94;
  background-color: #0C7779;
  padding: 0px 50px;
}

.ProgressContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 40px auto;
}

.ProgressLine {
  position: absolute;
  top: 17px;
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  z-index: 0;
}

.ProgressStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.Circle {
  width: 30px;
  height: 30px;
  background: white;
  border: 5px solid #ccc;
  border-radius: 100%;
}

.ProgressStep.Completed .Circle {
  background: #60df64;
  border-color: #1ac420;
}

.ProgressStep p {
  margin-top: 8px;
  text-align: center;
  max-width: 100px;
}

.Delivery_Information_Container {
  display: flex;
  justify-content: center;
  background-color: #0C7779;
  margin: 0px auto;
  border: 5px solid;
  border-color: #249E94;
  border-radius: 10px;
}

.Delivery_Information {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #249E94;
  padding: 0px 50px;
}


